{{ attach_library('timer_auto_logout/timer_auto_logout') }}
<span class="auto_logout_jst_timer">
  <span style="display:none" class="interval_value">{{ remainingTime }}</span>
  <span>{{ prefix_text }}</span>
  <span class="formatted_time interval-set">{{ remainingTime|date('H:i:s') }}</span>
  <span>{{ suffix_text }}</span>
  <span>{{ reset_timer }}</span>
  <span style="display: none"  id="auto_logout_timeout_padding" >{{ timeoutPadding }}</span>
</span>

<div
  style="display: none"
  class="parent-modal">
  <div
    style="display: none"
    class="modal">
    <span class="timer-text">{{ timeoutPadding }} s</span>
    <p>{{ text_in_modal }}</p>
    <div class="auto_logout_jst_timer_modal">
      <input
        id="timer_auto_logout_reset-timer_modal"
        type="submit"
        name="op"
        value="Reset Timer"
        class="timer_auto_logout_reset-timer_modal button js-form-submit form-submit"
        data-once="timerAutoLogoutClickModal"
      />
    </div>
  </div>
</div>
